<html xmlns:th="http://www.thymeleaf.org">
<table border="1" style="border-collapse: collapse; width: 100%; height: 80px; font-family: sans-serif; font-size:15px;">
<tbody>
<tr style="height: 20px;">
<td style="padding-left:5px; width: 56.65%; height: 20px;font-family: sans-serif; font-size:13px;"><b><span th:text="${bill_organization}"/>:</b> <span th:text="${organizationName}"/></td>
<td style="padding-left:5px; width: 43.35%; height: 20px;font-family: sans-serif; font-size:13px;"><b><span th:text="${bill_bill_no}"/>:</b> <span th:text="${billNumber}"/></td>
</tr>
<tr style="height: 20px;">
<td style="padding-left:5px; width: 56.65%; height: 20px;font-family: sans-serif; font-size:13px;"><b><span th:text="${bill_location}"/>:</b> <span th:text="${locationName}"/></td>
<td style="padding-left:5px; width: 43.35%; height: 20px;font-family: sans-serif; font-size:13px;"><b><span th:text="${bill_date_time}"/>:</b> <span th:text="${billDate}"/></td>
</tr>
<tr style="height: 20px;">
<td style="padding-left:5px; width: 56.65%; height: 20px;font-family: sans-serif; font-size:13px;"><b><span th:text="${bill_spaciality}"/>:</b> <span th:text="${specialty}"/></td>
<td style="padding-left:5px; width: 43.35%; height: 20px;font-family: sans-serif; font-size:13px;"><b><span th:text="${bill_appointment_no}"/>:</b> <span th:text="${appointmentNumber}"/></td>
</tr>
<tr style="height: 20px;">
<td style="padding-left:5px; width: 56.65%; height: 20px;font-family: sans-serif; font-size:13px;"><b><span th:text="${bill_practtioner_name}"/>: </b>Dr. <span th:text="${practitionerName}"/></td>
<td style="padding-left:5px; width: 43.35%; height: 20px;font-family: sans-serif; font-size:13px;"><b><span th:text="${bill_enclounter_no}"/>:</b> <span th:text="${encounterNumber}"/></td>
</tr>
</tbody>
</table>
<p></p>
<table border="1" style="border-collapse: collapse; width: 100%; height: 80px;font-family: sans-serif; font-size:15px;">
<tbody>
<tr style="height: 20px;">
<td style="padding-left:5px; width: 56.65%; height: 20px;font-family: sans-serif; font-size:13px;"><b><span th:text="${bill_patient_name}"/>:</b> <span th:text="${patientName}"/></td>
<td style="padding-left:5px; width: 43.35%; height: 20px;font-family: sans-serif; font-size:13px;"><b><span th:text="${bill_age}"/>:</b> <span th:text="${patientAge}"/></td>
</tr>
<tr style="height: 20px;">
<td style="padding-left:5px; width: 56.65%; height: 20px;font-family: sans-serif; font-size:13px;"><b><span th:text="${bill_address}"/>:</b> <span th:text="${patientAddress}"/></td>
<td style="padding-left:5px; width: 43.35%; height: 20px;font-family: sans-serif; font-size:13px;"><b><span th:text="${bill_admission_date_time}"/>:</b> <span th:text="${admissionTime}"/></td>
</tr>
<tr style="height: 20px;">
<td style="padding-left:5px; width: 56.65%; height: 20px;font-family: sans-serif; font-size:13px;"><b><span th:text="${bill_phone}"/>:</b> <span th:text="${patientPhone}"/></td>
<td style="padding-left:5px; width: 43.35%; height: 20px;font-family: sans-serif; font-size:13px;"><b><span th:text="${bill_discharge_date_time}"/>:</b> <span th:text="${dischargeTime}"/></td>
</tr>
<tr style="height: 20px;">
<td style="padding-left:5px; width: 56.65%; height: 20px;font-family: sans-serif; font-size:13px;"><b><span th:text="${bill_email}"/>:</b> <span th:text="${patientEmail}"/></td>
<td style="padding-left:5px; width: 43.35%; height: 20px;font-family: sans-serif; font-size:13px;"><b><span th:text="${bill_mode_of_payment}"/>:</b> <span th:text="${paymentMode}"/></td>
</tr>
</tbody>
</table>
<p></p>
<table border="1" style="border-collapse: collapse; width: 100%; height: 20px; font-family: sans-serif; font-size:15px;">
<tbody>
<tr style="height: 20px;">
<td style="padding-left:5px; width: 38.9505%; height: 20px;font-family: sans-serif; font-size:13px;"><b><span th:text="${bill_particulars}"/></b></td>
<td style="padding-left:5px; width: 17.6995%; height: 20px;font-family: sans-serif; font-size:13px;"><b><span th:text="${bill_quantity}"/></b></td>
<td style="padding-left:5px; width: 18.35%; height: 20px;font-family: sans-serif; font-size:13px;"><b><span th:text="${bill_unit_price}"/></b></td>
<td style="padding-left:5px; width: 25%; height: 20px;font-family: sans-serif; font-size:13px;"><b><span th:text="${bill_amount_rs}"/></b></td>
</tr>

<tr style="height: 20px;" th:each="serviceBillItem: ${serviceBill.serviceBillItems}">
<td style="padding-left:5px; width: 38.9505%; height: 20px;font-family: sans-serif; font-size:13px;" ><span th:text="${serviceBillItem.rateCard.display}"/></td>
<td style="text-align:right; width: 17.6995%; height: 20px;font-family: sans-serif; font-size:13px;" ><span th:text="${serviceBillItem.quantity}"/></td>
<td style="text-align:right; width: 18.35%; height: 20px;font-family: sans-serif; font-size:13px;" ><span th:text="${#numbers.formatDecimal(serviceBillItem.rate,1,2,'POINT')}"/></td>
<td style="text-align:right; width: 25%; height: 20px;font-family: sans-serif; font-size:13px;"><span  th:text="${#numbers.formatDecimal(serviceBillItem.amount,1,2,'POINT')}"/></td>
</tr>
<tr style="height: 20px;">
<td style="width: 38.9505%; height: 20px;font-family: sans-serif; font-size:13px;" ></td>
<td style="width: 17.6995%; height: 20px;font-family: sans-serif; font-size:13px;" ></td>
<td style="width: 18.35%; height: 20px;font-family: sans-serif; font-size:13px;" ></td>
<td style="width: 25%; height: 20px;font-family: sans-serif; font-size:13px;"></td>
</tr>
<tr style="height: 20px;">
<td colspan="2" rowspan="5" style="padding-left:5px; font-family: sans-serif; font-size:13px;"><b><span th:text="${bill_thnakyou_text}"/></b> <span th:text="${organizationName}"/>, <span th:text="${locationName}"/></td>
<td style="padding-left:5px; width: 18.35%; height: 20px;font-family: sans-serif; font-size:13px;"><b><span th:text="${bill_sub_total}"/></b></td>
<td style="text-align:right; width: 25%; height: 20px;font-family: sans-serif; font-size:13px;"><span th:text="${subTotal}"/></td>
</tr>
<tr style="height: 20px;">
<td style="padding-left:5px; width: 18.35%; height: 20px;font-family: sans-serif; font-size:13px;"><b><span th:text="${bill_discount}"/>:</b></td>
<td style="text-align:right; width: 25%; height: 20px;font-family: sans-serif; font-size:13px;"> <span th:text="${discount}"/></td>
</tr>
<tr style="height: 20px;">
<td style="padding-left:5px; width: 18.35%; height: 20px;font-family: sans-serif; font-size:13px;"><b><span th:text="${bill_total}"/></b></td>
<td style="text-align:right; width: 25%; height: 20px;font-family: sans-serif; font-size:13px;"><span th:text="${amountBilled}"/></td>
</tr>
<tr style="height: 20px;">
<td style="padding-left:5px; width: 18.35%; height: 20px;font-family: sans-serif; font-size:13px;"><b><span th:text="${bill_amount_paid}"/></b></td>
<td style="text-align:right; width: 25%; height: 20px;font-family: sans-serif; font-size:13px;"><span th:text="${amountPaid}"/></td>
</tr>
<tr style="height: 20px;">
<td style="padding-left:5px; width: 18.35%; height: 20px;font-family: sans-serif; font-size:13px;"><b><span th:text="${bill_amount_due}"/></b></td>
<td style="padding-left:2px; text-align:right; width: 25%; height: 20px;font-family: sans-serif; font-size:13px;"><span th:text="${amountDue}"/></td>
</tr>
</tbody>
</table>
</html>