<html xmlns:th="http://www.thymeleaf.org">

    <head>
        <title>Help</title>
    </head>
    <body>
	<table border="0" style="width: 100%; height: 40px;margin-left:auto;margin-right:auto; ">
<tbody>

<tr style="height: 20px;" th:each="pageDef: ${page.pageDefinitions}">
<td style="text-align:left;font-size: 15px; width: 100%; height: 20px;"><strong><span th:text="${pageDef.displayName}"/></strong>: <span th:text="${pageDef.description}"/></td>
</tr>
</tbody>
</table>
<br></br><br></br>

<table border="0" style="border-collapse: collapse; width: 101.155%;">
<tbody>

<tr th:each="pageDet: ${page.details}">

<td th:if="${pageDet.sectionId}==DUMMY" colspan="2">
<table><tr th:each="pageDetDef: ${pageDet.detailDefinitions}"><td style="text-align:left;font-size: 11px; width: 100%; height: 20px;"><strong><span th:text="${pageDetDef.displayName}"/></strong>: <span th:text="${pageDetDef.description}"/></td></tr></table></td>

<td  th:unless="${pageDet.sectionId}==DUMMY">
<table border="0"  style="width: 100%;">
<tr  th:each="sectionDef: ${pageDet.section.sectionDefinitions}">

<td style="text-align:left;font-size: 13px; width: 100%; height: 20px;"><strong><span th:text="${sectionDef.displayName}"/></strong>: <span th:text="${sectionDef.description}"/></td>
</tr>

</table>


<table border="0" style="border-collapse: collapse; width: 100%;">
<tbody>

<tr th:each="sectionDet: ${pageDet.section.sectionDetail}">

<td>
<table border="0" style="width: 100%;margin-left:15px;" ><tr th:each="sectionDetDef: ${sectionDet.sectionDetailDefinitions}"><td style="text-align:left;font-size: 10px; width: 100%; height: 20px;"><strong><span th:text="'  --'+${sectionDetDef.displayName}"/></strong>: <span th:text="${sectionDetDef.description}"/></td></tr></table></td>
   

</tr>
</tbody>
</table>
</td>
</tr>
</tbody>
</table>
 </body>
</html>