<html xmlns:th="http://www.thymeleaf.org">

    <head>
        <title>Receipt</title>
    </head>
    <body>
	<table border="0" style="width: 100%; height: 40px;margin-left:auto;margin-right:auto; font-family: sans-serif;">
<tbody>
<tr style="height: 20px;">
<td style="text-align:center;font-size: 22; width: 100%; height: 20px;"><b><span th:text="${billl_receipt_for}"/></b></td>
</tr>
</tbody>
</table>
<br></br><br></br>
<table border="0" style="width: 100%; height: 40px; font-family: sans-serif;">
<tbody>
<tr style="height: 15px;">
<td  style="font-size: 15; width: 100%; height: 15px;"><b><span th:text="${bill_date_time}"/>:</b> <span th:text="${currentDate}"/></td>
</tr>
<tr style="height: 15px;">
<td style="text-align:left;font-size: 15; width: 100%; height: 15px;"><b><span th:text="${bill_receipt_no}"/>:</b>  <span th:text="${receiptNumber}"/>  </td>
</tr>  
<tr style="height: 15px;">      
<td style="text-align:left;font-size: 15; width: 100%; height: 15px;"><b><span th:text="${bill_mode_of_payment}"/>:</b>  <span th:text="${paymentMode}"/>  </td>                              
</tr>
</tbody>
</table>
<pre><span> </span></pre>
<table border="0" style="width: 100%; font-family: sans-serif;">
<tbody>
<tr>
<td style="font-size: 15; width: 100%;"> <b><span th:text="${bill_received_from}"/></b>  <span th:text="${patientName}"/> <b>, <span th:text="${bill_the_sum_of}"/> Rs.</b> <span th:text="${totalAmountPaid}"/><b> <span th:text="${bill_towards_the_following}"/></b>
</td>
</tr>
</tbody>
</table>
<br></br>
<table border="1" style="border-collapse: collapse; width: 101.155%; font-family: sans-serif;">
<tbody>
<tr>
<td style="padding-left:5px; font-size: 15;width: 13.2887%;font-family: sans-serif; font-size:13px;"><b><span th:text="${bill_bill_no}"/>.</b></td>
<td style="padding-left:5px; font-size: 15;width: 15.2096%;font-family: sans-serif; font-size:13px;"><b><span th:text="${bill_bill_date}"/></b></td>
<td style="padding-left:5px; font-size: 15;width: 20.5428%;font-family: sans-serif; font-size:13px;"><b><span th:text="${bill_payment_due}"/></b></td>
<td style="padding-left:5px; font-size: 15;width: 25.8779%;font-family: sans-serif; font-size:13px;"><b><span th:text="${bill_amount_received}"/></b></td>
<td style="padding-left:5px; font-size: 15;width: 26.2942%;font-family: sans-serif; font-size:13px;"><b><span th:text="${bill_total_outstanding}"/></b></td>
</tr>
<tr th:each="billPayment: ${billPayments}">
<td style="padding-left:5px; font-size: 15;width: 13.2887%;font-family: sans-serif; font-size:13px;"><span th:text="${billPayment.billNumber}"/></td>
<td style="padding-left:5px; font-size: 15;width: 15.2096%;font-family: sans-serif; font-size:13px;"><span th:text="${billPayment.billDate}"/></td>
<td style="text-align:right; font-size: 15;width: 20.5428%;font-family: sans-serif; font-size:13px;"><span th:text="${#numbers.formatDecimal(billPayment.originalDue,1,2,'POINT')}"/></td>
<td style="text-align:right; font-size: 15;width: 25.8779%;font-family: sans-serif; font-size:13px;"><span th:text="${#numbers.formatDecimal(billPayment.paymentAmount,1,2,'POINT')}"/></td>
<td style="text-align:right; font-size: 15;width: 26.2942%;font-family: sans-serif; font-size:13px;"><span th:text="${#numbers.formatDecimal(billPayment.finalDue,1,2,'POINT')}"/></td>
</tr>
</tbody>
</table>
<br></br>
<table border="0" style="width: 100%; font-family: sans-serif;" >
<tbody>
<tr>
<td style="font-size: 15; width: 100%;"><b><span th:text="${bill_new_amount_due}"/></b> <span th:text="${totalOutStanding}"/></td>
</tr>
</tbody>
</table>
<pre><span> </span></pre>
<br></br>
<table border="0" style="width: 100%; font-family: sans-serif;" >
<tbody>
<tr>
<td style="font-size: 15;width: 100%;"><b>For</b> <span th:text="${organizationName}"/>, <span th:text="${locationName}"/></td>
</tr>
</tbody>
</table>
</body>
</html>